<div class="container-fluid">
  <div class="d-flex flex-row-reverse mt-3">
    <button type="button"
            class="btn btn-primary" (click)="signIn()">Sign in</button>
    <button type="button"
            class="btn btn-outline-primary me-2" (click)="signUp()">Sign up</button>

  </div>
  <div class=" d-flex justify-content-center mt-5">
    <div class="card"
         style="width: 45rem;">
      <img class="card-img-top"
           src="/assets/home.jpg"
           alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Manage your tasks quickly.</p>
      </div>
    </div>
  </div>
</div>
