.card-text{
  font-size: 25px;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.card{
  align-items: center;
  text-align: center;
  justify-content: center;
}
